@font-face {
    font-family: "Impact Label";
    src: url("Impact Label.ttf");
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

* { // Just makes everything so much easier
  box-sizing: border-box;
}

header {
  margin: 5px;
  padding-top: 100px;
  padding-left: 80px;
  width: 800px;
  height: 158px;
  background-size: cover;
  background-image: url("../img/header.png");

  button {
    margin-left: 26px;
  }

  input[type="range"] {
    background-color: #111;
    border-color: #261F19;
  }
}

.mixer {
  margin: 5px;
  width: 800px;
  background-size: cover;
  font-size: 16px;

  &.woffCanceler {
    padding: 64px;
    height: 197px;
    background-image: url("../img/WC130.png");

    input[type="range"] {
      border-color: #BBA695;
    }
  }

  &.autoSleeper {
    padding: 64px;
    height: 211px;
    background-image: url("../img/AS31.png");

    input[type="range"] {
      border-color: #E2E4DF;
    }
  }

  h2 {
    margin: 0;
    padding: 0 10px;
    display: inline-block;
    font-size: 28px;
    text-transform: uppercase;
    font-family: "Impact Label", Helvetica, Arial, sans-serif;
    background-color: #000;
    color: #CCC;
  }

  .controls {
    display: block;
    margin: 24px;

    .icon {
      max-width: 20px;
      max-height: 20px;
    }
  }
}

// CUSTOM INPUT SLIDERS
input {
  margin-right: 15px;

  &:focus {
    outline: none;
  }
}

input[type="range"] {
  -webkit-appearance: none;
  background-color: #222;
  height: 22px;
  border: 8px solid #FFF;
  border-radius: 11px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 24px;
  background-image: url("../img/slider1.png");
  background-size: cover;
  box-shadow: -2px 3px 6px rgba(0, 0, 0, 0.4);
}
